<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href=<%= require('./assets/images/range3.png') %>>

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" href="#">アイギス経験値計算機</a>
		</nav>

    <div class="container-fluid">
      <div class="row justify-content-center no-gutters unit-status">

        <div class="col-sm-2">
          <div class="unit-icon">
            <span class="unit-icon-frame rounded icons-sprite icons-frame-black">
              <span class="unit-icon-grade icons-grade-1 icons-sprite"></span>
            </span>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="property-box">
            <div class="property">
              <span class="property-level">Lv1 →  Lv70</span>
              <span class="property-required-exp">12345</span>
              <span class="property-suffix">必要な経験値</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row unit-exp-progress">
        <div class="col">
          <span>経験値</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 40.5%" aria-valuenow="40.5" aria-valuemin="0" aria-valuemax="100">40.5%</div>
            <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>

      <div class="row materials">
        <div class="col">
          <span>必要素材</span>
          <ul>
            <li>
              <span class="unit-icon-frame rounded icons-sprite icons-frame-platinum">
              </span>
              プラチナアーマー
              <span class="badge badge-primary">x10</span>
            </li>
            <li>
              <span class="unit-icon-frame rounded icons-sprite icons-frame-platinum">
              </span>
              白精霊
              <span class="badge badge-primary">x30</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="input-rarity">
            <label for="rarity-id" class="rarity-label">レアリティ</label>
            <select id="rarity-id" class="form-control">
              <option value="rarity-iron"    >アイロン</option>
              <option value="rarity-bronze"  >ブロンズ</option>
              <option value="rarity-silver"  >シルバー</option>
              <option value="rarity-gold"    >ゴールド</option>
              <option value="rarity-sapphire">サファイア</option>
              <option value="rarity-platinum">プラチナ</option>
              <option value="rarity-black"   selected>ブラック</option>
            </select>
          </div>

          <div class="input-grades">
            <div class="grades-label">クラスチェンジ/覚醒</div>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-outline-dark active">
                <input type="radio" name="grades" id="grade-0"
                autocomplete="off" checked>
                <span class="icons-sprite"></span>
                CC前
              </label>
              <label class="btn btn-outline-dark">
                <input type="radio" name="grades" id="grade-1" autocomplete="off">
                <span class="icons-grade-1 icons-sprite"></span>
                CC
              </label>
              <label class="btn btn-outline-dark">
                <input type="radio" name="grades" id="grade-2" autocomplete="off">
                <span class="icons-grade-2 icons-sprite"></span>
                覚醒
              </label>
              <label class="btn btn-outline-dark">
                <input type="radio" name="grades" id="grade-3" autocomplete="off">
                <span class="icons-grade-3 icons-sprite"></span>
                第2覚醒
              </label>
            </div>
          </div>

          <div class="input-current-level">
            <label for="current-level-id">現在のレベル</label>
            <select id="current-level-id" class="form-control">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>

          <div class="input-remain-exp">
            <label for="remain-exp-id">次のレベルまであと</label>
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-dark" type="button">-</button>
              </span>
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-dark" type="button">+</button>
              </span>
            </div>
          </div>
        </div>

        <div class="col">
          <button class="btn btn-primary feed-btn btn-block" type="button">
            <div class="row">
              <div class="col">
                <span class="unit-icon-frame rounded icons-sprite icons-frame-platinum">
                </span>
                <span class="unit-icon-frame rounded icons-sprite icons-frame-platinum">
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <span class="unit-icon-frame rounded icons-sprite icons-frame-platinum">
                </span>
                <span class="unit-icon-frame rounded icons-sprite icons-frame-platinum">
                </span>
              </div>
            </div>
            <span>プラチナアーマー8倍煮込み</span>
          </button>

          <button class="btn btn-primary feed-btn btn-block" type="button">
            <div class="row">
              <div class="col">
                <span class="unit-icon-frame rounded icons-sprite icons-frame-black">
                </span>
                <span class="unit-icon-frame rounded icons-sprite icons-frame-black">
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <span class="unit-icon-frame rounded icons-sprite icons-frame-black">
                </span>
                <span class="unit-icon-frame rounded icons-sprite icons-frame-black">
                </span>
              </div>
            </div>
            <span>ブラックアーマー8倍煮込み</span>
          </button>

          <button class="btn btn-primary feed-btn btn-block" type="button">
            <div class="row">
              <div class="col">
                <span class="unit-icon-frame rounded icons-sprite icons-frame-black">
                </span>
              </div>
            </div>
            ファラハ
          </button>

          <button class="btn btn-secondary btn-block" type="button">
            リセット
          </button>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="text-muted">Icons made by <a href="https://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</div></p>
      </div>
    </footer>
  </body>
</html>
