/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:e8b8ba26892be067bfe1adc897d95e2f:b5909cd9ff2fad0805faefb0498640de:f1ca9f615efd41ee6d583ace452461d3$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.icons-sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../images/icons.png);}

.icons-frame-black {width:100px; height:100px; background-position: -0px -0px}
.icons-frame-bronze {width:100px; height:100px; background-position: -0px -100px}
.icons-frame-gold {width:100px; height:100px; background-position: -0px -200px}
.icons-frame-iron {width:100px; height:100px; background-position: -0px -300px}
.icons-frame-platinum {width:100px; height:100px; background-position: -0px -400px}
.icons-frame-sapphire {width:100px; height:100px; background-position: -0px -500px}
.icons-frame-silver {width:100px; height:100px; background-position: -0px -600px}
.icons-grade-1 {width:32px; height:32px; background-position: -0px -700px}
.icons-grade-2 {width:32px; height:32px; background-position: -32px -700px}
.icons-grade-3 {width:32px; height:32px; background-position: -64px -700px}
